#total-price, .total-price-label {
  display: inline-block;
}

#total-price {
  margin-left: 30px;
  font-size: 36px;
}

body {
  color: white;
  background-color: black;
  background: url("../images/train.jpg") no-repeat, black;
  background-size: cover;
  font-family: 'Coda', cursive;
}

input {
  font-family: 'Coda', cursive;
}

.quantity, #name, #cost {
  color: black;
}

.flipboard {
  margin-top: 20px;
}

#calc-prices-button, #fork {
  width: 100%;
  background-color: black;
  color: white;
  border-color: black;
}

.remove {
  color: grey;
  
}

.new {
  margin-top: 20px;
}